<html>
{% load staticfiles %}
 <head>
   <title>Salaheddin'blog </title>
   <link rel="stylesheet" href="//mysite/blog/static/css/blog.css">
   <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    

   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   
 </head>
 <body>
    <div class= "fixed">
       <ul>
        <li> Home </li>
        <li> Experience </li>
        <li> projects </li>
        <li> products </li>
        <li class= "special"> search </li>
       </lu>
     
    </div>
     
  
   
    <div class= "container">
      <a class = "new" href="{% url 'post_list' %}">for nice web apps visit me "Salah-eddin"</a> 
     
    </div>
     
     

    

     <div class = DATA > <a href = "{% url 'post_new' %}" > New Post </a>
     </div>
     <div class = Ads > <p> The place of coding , just imagine we realize , you dream we emphysise </p>
     </div> 
       
     <div class = date> <a href = "#" > Future bouttom </a>
     </div>
       
     
     <div class = dateS><p  > <a href ="{% url 'post_list' %}" > Post List  

       </a> </p></div>
     
     

      {% block content  %}
    
      {% endblock %}
 </body>
</html>
