<html>
{% load staticfiles %}
 <head>
   <title>Salaheddin'blog </title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    

   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   
 </head>
 <body>
    <div class= "container">
      <a class = "new" href="#">for nice blog visit me "Salah eddin"</a>
    </div>
    <a href = "{% url 'post_new' %}" class = "title"> new post </a>

      {% block content  %}
    
      {% endblock %}
 </body>
</html>
