<html>
{% load staticfiles %}
 <head>
   <title>Salaheddin'blog </title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    

   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   
 </head>
 <body>
   
    <div class= "container">
      <a class = "new" href="{% url 'post_list' %}">for nice web apps visit me "Salah-eddin"</a> 
    </div>
     
     

    

      <div class = dateS ><p > <a href = "{% url 'post_new' %}" > New Post </a>
       </p></div>
       
     
     <div class = dateS><p  > <a href ="{% url 'post_list' %}" > Post List  

       </a> </p></div> 
     
     

      {% block content  %}
    
      {% endblock %}
 </body>
</html>
