<html>
{% load staticfiles %}
 <head>
   <title>Salaheddin'blog </title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    

   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   
 </head>
 <body>
    <div class= "container">
      <a class = "new" href="#">for nice blog visit me "Salah eddin"</a>
    </div>

    {% for post in posts %}
     <div class = " salaheddin" >
         
        <p class ="publish" >published: {{ post.published_date }}</p>
         
        <a class = "title" href="">{{ post.title }}</a> 
        <h2 class = "text">{{ post.text|linebreaksbr }}</h2>
     </div>
   {% endfor %}
 </body>
</html>
