<html>
{% load staticfiles %}
 <head>
   <title>Salaheddin'blog </title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <link href='https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:300' rel='stylesheet' type='text/css'>
    

   <link rel="stylesheet" href="{% static 'css/blog.css' %}">
   
 </head>
 <body>
    <div class= "container">
      <a class = "new" href="#">for nice blig visit me "Salah eddin"</a>
    </div>

    {% for post in posts %}
     <div class = " salaheddin" >
         
        <p class ="abc" >published: {{ post.published_date }}</p>
        <h2class = "def">ACTIVE: {{post.is_active}}</h2>
        <a class = "ijk" href="">{{ post.title }}</a> 
        <p>{{ post.text|linebreaksbr }}</p>
     </div>
   {% endfor %}
 </body>
</html>
