body {
padding-left; 15 px;
background-image: url"http://jonvilma.com/images/river-2.jpg"
} 

h1 a  {
color:bf5e3b;
padding-left: 15 px;
margin: 20 px ;
font-family:'Lobster';
background-image: url"http://jonvilma.com/images/river-2.jpg"
}
h2 a {
color: bf5e3b ;
font-szie:100 px;
font-family:'Lobster';
}

p {

color:f2a25c;
font-family:'Lobster';
background-image: url"http://jonvilma.com/images/river-2.jpg"
}
