  

body {
	align-items: center;
        background-color: #adcad7 ;
	 
	font-family: 'cursive', sans-serif;
	 
	display: flex;
	 
	flex-direction: column;
	justify-content: center;
}


div.dateS {
        
         
    
       
        

         color: maroon;
         font-family: 'cursive', serif;
         font-size: 30px;
         font-weight: 900;
         line-height: 46px;
         margin: 5px 5px 5px 5px;
         text-align:center;
         text-shadow: 0px 2px 4px rgba(34,62,66,.75);
         width:50%;
         background: url('https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-1/01/background.jpg') center center;
}   

div.date {
        
         
    
       
        

         color: maroon;
         font-family: 'cursive', serif;
         font-size: 30px;
         font-weight: 900;
         line-height: 46px;
         margin:-200px 0px 5 0px;
         text-align:center;
         text-shadow: 0px 2px 4px rgba(34,62,66,.75);
         width:50%;
         background: url('https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-1/01/background.jpg') center center;
} 
div.DATA {
        
         
    
       
        

         color: maroon;
         font-family: 'cursive', serif;
         font-size: 30px;
 
         line-height: 46px;
         margin:5px 0 5px 0;
         text-align:center;

         width:100%;
         background: url('https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-1/01/background.jpg') center center;
}

.DATA a {
color: maroon;
}

.dateS a {
color: maroon;
}
.date a {
color: maroon;
}

.Ads 
{
border: 2px dotted white;
height: 200px;
margin: 10px 950px 15px 0px;
width: 130px;
background:url('https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-1/01/background.jpg') center center ;



}

.Ads p {
color: maroon;
font-family: 'cursive', serif;
text-align: center;
padding-top: 28px;

}


 
    

 
	 




div.salaheddin {
	align-items: center;
	align-self: center;
	background: url('https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-1/01/background.jpg') center center;
	border-radius: 100%;
	display: flex;
	flex-direction: column;
	min-height: 800px;
	justify-content: center;
	width: 800px;
}

 
a.title {
color: #000000;
  font-family: 'Raleway', serif;
  font-size: 52px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width:50%;
}
h2.text {
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 52px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width:50%;
  }








p.publish {
  color: #FFF;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-align: left;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width:50%;
}


.new {
   
	background: linear-gradient(45deg, rgba(255,184,115,0.65) 0%,rgba(255,124,189,0.65) 50%,rgba(108,0,153,0.65) 100%);
        font-family: 'cursive', serif;
	border-radius: 100px;
	box-shadow: 0px 2px 4px rgba(34,62,66,.25);
  color: maroon;
  font-size: 25px;
  letter-spacing: 4px;
  padding: 32px 32px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
        margine:20px;
}
a.new:hover {
	box-shadow: 0px 4px 4px rgba(34,62,66,.5);
	-webkit-transition: box-shadow 1s ease;
	transition: box-shadow 1s ease;
}

div.container {  
       

       
        background-color: maroon;
	 
	font-family: 'Raleway', sans-serif;
	 
	display: flex;
	 
	flex-direction: column;
	
        margin:0 0 18px 0 ;
    }

 align-items: center;




   


  
		 





 








  
 
    
   
    
